<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 position-relative" data-aos="fade-up" data-aos-delay="100">
          <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 ps-lg-4 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <h3>About Us</h3>
          <p>
            Our mission is to provide support and resources for mental health and well-being. We believe in the importance of mental health awareness and strive to create a safe and supportive environment for everyone.
          </p>
          <ul>
            <li>
              <i class="bi bi-diagram-3"></i>
              <div>
                <h5>Comprehensive Mental Health Services</h5>
                <p>We offer a range of services to support mental health, including counseling, therapy, and support groups.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h5>Accessible Mental Health Resources</h5>
                <p>We provide easily accessible resources and information to help individuals understand and manage their mental health.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-broadcast"></i>
              <div>
                <h5>Community Outreach Programs</h5>
                <p>We engage in community outreach programs to raise awareness about mental health and provide support to those in need.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->