{%include 'admin_header.html'%}
<br><br>
<body>
    <form method="post">

        <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #000000; text-align: center; font-size: 24px; margin-bottom: 20px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); padding: 10px; text-align: center;">Hey Admin</h4>
        <br><br><br><br><br><br><br>
        <!-- <a href="admin_therapistpending">Accept Therapist</a>
        <a href="admin_therapist">View Therapist</a>
        <a href="admin_userview">User view</a>
        <a href="admin_feedback">Feedback</a>
        <a href="admin_viewratings">Ratings</a>
        <a href="admin_passwordchange">Password Change</a>
        <a href="admin_questionmanage">Manage Questions</a> -->
    </form>
</body>
<br><br><br><br><br>

{% include 'footer.html' %}