{%include 'admin_header.html'%}
<br><br>
<body>
    <form action="" method="post" style="width: 80%; margin: 20px auto; font-family: Arial, sans-serif; border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #f9f9f9;">
        <table style="border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; margin-top: 20px;">
            <tr style="background-color: #007BFF; color: white;">
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Sl No.</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Ratings:</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Review:</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Date:</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Username:</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Therapist:</th>
            </tr>
            {% for i in tea %}
            <tr style="background-color: #f2f2f2; border-bottom: 1px solid #ddd;">
                <td style="padding: 10px; border: 1px solid #ddd;">{{ forloop.counter }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ i.rating }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ i.review }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ i.date }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ i.user.fname }} {{ i.user.lname }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{i.therapist.fname}} {{i.therapist.lname}}</td>

            </tr>
            {% endfor %}
        </table>
    </form>
    
</body>
<br>

{% include 'footer.html' %}