{%include 'user_header.html'%}
<br>
<body>
    
    <!-- <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #ffffff; text-align: center; font-size: 24px; margin-bottom: 20px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); padding: 10px; text-align: center;">Hey User!!</h4> -->
    <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width: 40%; margin: 20px auto; padding: 20px; border-radius: 10px; background-color: #ffffff; border: 1px solid #ccc; text-align: center;">
        <h1 style="font-family: Arial, sans-serif; color: #333;">Hey User!!</h1>
    </div>
    <br><br><br>
    <!-- <a href="user_bookshedule">Schedule</a>
    <a href="user_sentfeedback">Feedback</a>
    <a href="chatbot/">Chat bot</a>
    <a href="view_therapists">View Therapist</a>
    <a href="user_quiz">user Quiz</a>
    <a href="user_viewmotivationalvdo">Motivational Video</a>
    <a href="user_viewbookings">View Bookings</a>
    <a href="user_changepasswrd">Change Password</a> -->

</body>
<br><br><br><br>
{%include 'footer.html'%}